PyYAML
asyncio
aiohttp
disnake==2.5.0
disnake-jishaku
motor
dnspython
emoji
hmtai
textwrap3
easy_pil
bs4
git+https://github.com/Leyla-developers/Lavalink.py.git
PyNaCl
SmallGoogleTranslator
genshinstats
python-dotenv
genshin
psutil
git+https://github.com/Leyla-developers/leyla-justify.git