PyYAML
asyncio
aiohttp
disnake==2.4.0
disnake-jishaku
motor
dnspython
emoji
hmtai
textwrap3
easy_pil
bs4
lavalink
PyNaCl
SmallGoogleTranslator
genshinstats
git+https://github.com/helish88/Wavelink.git
python-dotenv
genshin